[submodule "lib/NeoPixelBus"]
	path = lib/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git
[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
